.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  background: url(../../images/background.png) no-repeat center/1050px 640px;
  background-size: auto;
  overflow: auto;
}

@media (max-width: 1023px) {
  .main {
    background-size: 80%;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 620px) {
  .main {
    background-size: 60%;
  }
}