.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: url(../../images/header-text.svg) no-repeat right 50% top 5%/30%
    auto;
  cursor: url(../../images/black-cursor.png), default;
}

.login__overlay {
  position: fixed;
}

.login__image-left-hand {
  height: 300px;
  width: auto;
  filter: drop-shadow(rgb(145, 145, 145) 0px 12.41px 38px);
}

.login__image-pink-card {
  height: 400px;
  width: auto;
  filter: drop-shadow(rgb(145, 145, 145) 0px 12.41px 38px);
}

.login__image-ticket {
  height: 150px;
  width: auto;
  filter: drop-shadow(rgb(145, 145, 145) 0px 12.41px 38px);
}

.login__button {
  background-color: transparent;
  color: #181818;
  background: center/cover no-repeat;
  width: 200px;
  height: 50px;
  border-radius: 100px;
  border: 1px solid #000000;
  filter: drop-shadow(0px 10px 25px rgba(0, 0, 0, 0.25));
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  transition: transform 250ms;
  cursor: url(../../images/green-cursor.png), auto;
}

.login__button:hover {
  background-color: #181818;
  color: #ffffff;
  transform: translateY(-10px);
  transition: all 0.4s ease;
}

.login__text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  margin-top: auto;
  margin-bottom: 50px;
}

.login__text {
  margin-top: 50px;
}

.login__text:nth-child(3) {
  color: black;
  text-decoration: underline;
  margin-top: 10px;
  margin: 0;
}

@media (max-width: 1280px) {
  .login {
    background: url(../../images/header-text.svg) no-repeat right 50% top 5%/45%
      auto;
  }

  .login__overlay {
    display: flex;
  }

  .login__image-left-hand {
    height: 230px;
    width: auto;
  }

  .login__image-pink-card {
    height: 280px;
    width: auto;
  }

  .login__image-ticket {
    height: 120px;
    width: auto;
  }
}

@media (max-width: 600px) {
  .login {
    background: url(../../images/header-text.svg) no-repeat right 50% top 5%/75%
      auto;
  }

  .login__overlay {
    display: flex;

  }

  .login__image-left-hand {
    height: 150px;
    width: auto;
  }

  .login__image-pink-card {
    height: 250px;
    width: auto;
  }

  .login__image-ticket {
    height: 100px;
    width: auto;
  }
}
