@keyframes rotation {
  0% {
    transform: translate(0px, 0px) rotate(0deg) scale(1);
    opacity: 1;
    animation-timing-function: linear;
  }
  100% {
    transform: translate(0px, 0px) rotate(360deg) scale(1);
    opacity: 1;
  }
}
