.widgets__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-gap: 30px 30px;
  width: 70vw;
  max-height: 80vh;
  margin: 60px auto 0;
  position: relative;
}

.widget__card {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0.25) 53.02%,
    rgba(255, 255, 255, 0) 104.95%
  );
  filter: drop-shadow(0px 7px 20px rgba(114, 114, 114, 0.25));
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border-radius: 4px;
  width: 80%;
  transition: all 0.3s ease;
  cursor: grab;
  padding: 20px;
}

.widget__title {
  margin: 0 0 15px;
}

.widget__list {
  display: grid;
  gap: 20px;
}

.widget__list-item {
  display: flex;
  align-items: center;
}

.widget__list-image {
  width: 70px;
  height: 70px;
  border-radius: 4px;
}

.widget__list-description {
  margin-left: 20px;
}

.widget__list-name {
  margin: 0;
  font-weight: bold;
}

.widget__list-artist {
  margin: 0;
  font-size: 13px;
}
