a {
  text-decoration: none;
}

/*revisa este transition */
.sidebar__button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.4s ease;
}

.sidebar__title {
  font-size: 12px;
  color: #5f5f5f;
  text-align: center;
  visibility: hidden;
  opacity: 0;
}

.sidebar__button.active .sidebar__title {
  visibility: visible;
  opacity: 1;
}

.sidebar__button.active {
  animation: wiggle 2s infinite;
}

.sidebar__button.active:hover .sidebar__title {
  transition: opacity 0.4s ease;
}

.sidebar__button.active:hover {
  animation: none;
}

@media (max-width: 1023px) {
  .sidebar__button-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .sidebar__button {
    padding: 10px;
  }

  .sidebar__title {
    display: none;
  }

  .sidebar__button.active .sidebar__title {
    display: none;
  }
}