.sidebar {
  width: 150px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.sidebar__button {
  background: transparent url(../../images/deform-paper.webp) no-repeat
    center/contain;
  padding: inherit;
  border: none;
  width: 57px;
  height: 70px;
  cursor: url(../../images/cursor.png), auto;
}

.sidebar__button:hover {
  animation: wiggle 0.35s ease;
}

/* considera reubicar las animaciones */

@keyframes wiggle {
  25% {
    rotate: 5deg;
  }
  50% {
    rotate: -5deg;
  }
  75% {
    rotate: 5deg;
  }
}
