.sidebar {
  width: 100px;
  height: auto;
  margin: 20px;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  align-self: center;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0.25) 53.02%,
    rgba(255, 255, 255, 0) 104.95%
  );
  filter: drop-shadow(0px 7px 20px rgba(114, 114, 114, 0.25));
  backdrop-filter: blur(5px); 
  border-radius: 10px;
  z-index: 2;
}

.sidebar__button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.sidebar__icon {
  background: transparent no-repeat center/contain;
  border: none;
  cursor: url(../../images/cursor.png), auto;
  max-width: 100%;
  height: auto;
}

.sidebar__icon:hover {
  animation: wiggle 0.35s ease;
}

.sidebar__icon-paper {
  padding-top: 20px;
  width: 68px;
}

.sidebar__icon-green {
  width: 72px;
}

.sidebar__icon-ball {
  width: 55px;
}

.sidebar__icon-folder {
  width: 60px;
}

.sidebar__icon-skull {
  width: 57px;
}

@media (max-width: 1440px) {
  .sidebar {
    width: 90px;
  }
}

@media (max-width: 1023px) {
  .sidebar {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    bottom: 0;
    width: auto;
    z-index: 1;
    height: auto;
  }

  .sidebar__icon-paper {
    padding-top: 0;
  }
}

@media (max-width: 620px) {
  .sidebar {
    height: auto;
  }

  .sidebar__icon-paper {
    padding: 0;
  }

  .sidebar__icon-ball {
    width: 50px;
  }
}
