/* Globat Adjust */

@import url(./utils/global-styles.css);

/* Animations */

@import url(./animations/wiggle.css);
@import url(./animations/slide-in.css);
@import url(./animations/slide-out.css);
@import url(./animations/zoom-in.css);


body {
  margin: 0;
  font-family: 'San Francisco Pro', -apple-system,'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  box-sizing: border-box;
  background-color: #EDEDED;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
