.controls__container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
}

.controls__button {
  background: transparent;
  border: none;
  cursor: pointer;
}


/* @media (max-width: 1440px) {

}

@media (max-width: 1023px) {

}

@media (max-width: 768px) {

} */

@media (max-width: 620px) {
  .controls__container {
    margin-right: 10px;
  }
}